$color-btn: #38b2ac;
$color-default: #1e2832;

.carItem {
    display: flex;
    color: white !important;
    justify-content: center;
    padding:  0.8em ;
    align-items: center;
    background-color: $color-btn !important;
    border-color: transparent !important;
    border-radius: 0.5rem !important;
}

.button {
    padding: 7% 0;
    font-weight: bold;
    font-size: 1.0rem;
  }

  .drawer { 
      width: 30rem;
      padding: 5%;
  }