$primary: #2a4365;
$primaryLight: #3f51b5;
$primaryDark: #4a5568;

$secondary: #38b2ac;
// $secondaryLight: #2196f3;
$secondaryDark: #2196f3;

$neutralDarker: #293132;
$neutrayDark: #414549;
$neutral: #cccfcf;
$neutralLight: #d9dbdb;
$neutralLighter: #e8ebeb; 
$neutralLightest: #fff;
// #f7f7f7
