@import 'const';

.text-default {
  @apply max-w-screen-xl mx-auto my-10 text-3xl uppercase border-b border-gray-600;
}

/*
   * Navbar
   * ======================================================================== */
nav {
  @apply max-w-screen-xl mx-auto flex justify-between overflow-hidden h-20;

  button {
    @apply bg-transparent text-white h-10 w-10;
  }

  img {
    @apply w-48;
  }

  .btn-car {
    @apply bg-teal-500 text-white px-5 flex-center text-lg;

    &:hover {
      @apply bg-teal-600;
    }
  }

  /*
   * Search on Navbar
   * ======================================================================== */

  .search {
    @apply flex mx-5 rounded-md justify-center items-center;

    button {
      @apply justify-center text-white bg-teal-500 font-bold rounded-r-md;

      &:hover {
        @apply bg-teal-600;
      }
    }

    input {
      @apply h-full w-full bg-gray-200 rounded-l-md p-3;
    }
  }
}

/*
   * Categorys
   * ======================================================================== */

.category {
  @apply overflow-hidden text-white shadow-xl bg-default;

  div {
    @apply flex max-w-screen-xl mx-auto;

    button {
      @apply mx-1 p-5;

      &:hover {
        @apply bg-blue-800;
      }
    }
  }
}

/*
   * Delivery
   * ======================================================================== */

.delivery {
  @apply text-center bg-default text-lg;

  p {
    @apply text-white uppercase py-5;
  }
}

/*
   * Card
   * ======================================================================== */

.card-product {
  @apply rounded-md border border-4 border-white;

  &:hover {
    @apply rounded-md shadow-lg border-4 border-teal-500;
  }

  .card-img {
    @apply flex justify-center;
  }

  .card-text {
    @apply my-5 flex flex-col items-center;

    p {
      @apply text-xl mb-2 text-center overflow-hidden h-16;

      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    a {
      @apply text-gray-700 font-bold text-3xl h-12;
    }
  }

  .card-btn {
    @apply h-12 bg-teal-500 w-full text-center text-xl rounded-sm text-white;
  }
}

.btn-default {
  @apply bg-teal-500 text-base text-white py-1 px-6 rounded;

  &:hover {
    @apply bg-teal-700;
  }
}

/*
   * ========================================================================
   * ========================================================================
   * ========================================================================

   * On screens that are 992px or less, Tablet

   * ========================================================================
   * ========================================================================
   * ========================================================================
   */

@media screen and (max-width: 992px) {
  .text-default {
    @apply border-transparent text-2xl text-center;
  }

  .loginn {
    display: none !important;
  }

  nav {
    @apply flex justify-between overflow-hidden h-20 bg-default shadow-xl;

    button {
      @apply bg-transparent text-white h-10 w-10;
    }

    img {
      @apply w-32;
    }
  }

  /*
     * Search
     * ======================================================================== */

  .search {
    @apply flex mx-5 rounded-md mx-auto m-5 shadow-md;

    button {
      @apply text-white bg-teal-500 font-bold rounded-r-md px-5;

      &:hover {
        @apply bg-teal-600;
      }
    }

    input {
      @apply h-full w-full border border-teal-500 bg-gray-200 rounded-l-md p-3;
    }
  }

  /*
   * Carousel Categorys
   * ======================================================================== */

  .carousel-category {
    @apply flex;

    .slideInner___2mfX9 {
      @apply flex items-center justify-center;
      // @apply flex items-center justify-center bg-yellow-500 border border-black;
    }

    button {
      @apply items-center p-2;

      .btn-c {
        @apply h-auto flex flex-col items-center;

        img {
          @apply w-20 h-20 rounded-full border-2 border-teal-400 shadow-teal-400;
        }

        p {
          @apply mt-3 text-xs font-bold uppercase;
        }
      }
    }
  }
}

/*
   * ========================================================================
   * ========================================================================
   * ========================================================================

   * On screens that are 600px or less

   * ========================================================================
   * ========================================================================
   * ========================================================================
   */

@media screen and (max-width: 600px) {
  .text-default {
    @apply max-w-screen-xl mx-auto text-center my-10 text-base;
  }

  /*
   * Navbar
   * ======================================================================== */
  nav {
    @apply flex justify-between overflow-hidden h-20 bg-default shadow-xl px-6;

    button {
      @apply bg-transparent text-white h-10 w-10;
    }

    img {
      @apply w-32;
    }

    .btn-car {
      background-color: transparent !important;
    }
  }

  /*
     * Search
     * ======================================================================== */

  .search {
    @apply mx-5 shadow-md;

    button {
      @apply text-white bg-teal-500 font-bold rounded-r-md px-5;

      &:hover {
        @apply bg-teal-600;
      }
    }

    input {
      @apply w-full border bg-gray-200 rounded-l-md p-3;
    }
  }

  /*
   * Carousel Categorys
   * ======================================================================== */

  .carousel-category {
    @apply flex;

    .slideInner___2mfX9 {
      @apply flex items-center justify-center;
      // @apply flex items-center justify-center bg-yellow-500 border border-black;
    }

    button {
      @apply items-center p-2;

      .btn-c {
        @apply h-auto flex flex-col items-center;

        img {
          @apply w-20 h-20 rounded-full border-2 border-teal-400 shadow-teal-400;
        }

        p {
          @apply mt-3 text-xs font-bold uppercase;
        }
      }
    }
  }

  /*
     * Card
     * ======================================================================== */

  .text-sign {
    @apply text-base;
  }

  .card-product {
    img {
      @apply w-32;
    }

    button {
      @apply py-1 px-2;
    }
  }

  /*
     * Delivery
     * ======================================================================== */

  .delivery {
    @apply text-xs;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 768px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  nav {
    @apply bg-white;

    .search {
      @apply bg-teal-500;
    }
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
