$grey: #3e3e3e;
$text_color_default: $grey;
$color-default: #1e2832;

.categories{
    color:  white !important;
    background-color: $color-default !important;
    .text{
        color:  white !important;
    }
}
