@import '../../styles/style.scss';

.cardContent{
  display: flex;
  align-items: center;
  flex-direction: column;
  .cardTitle {
    height: 5rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .oldPrice {
    text-decoration: line-through;
  }
  .price {
    font-weight: bold;
    color: $neutralDarker;
  }
}

.button {
  background-color: $secondary;
  color: $neutralLighter;

  &:hover{
  transition: all 300ms ease-out;
  background-color: $secondaryDark;
  }
}

.card {
  width: 15vw;
}
