@import '../../styles/style.scss';

.imgLogo {
    cursor: pointer;
    margin-right: 2.5rem;
    width: 12rem;
}

.divider{
    margin: 0 0.5rem;
}

.navbar{
    background-color: $neutralLightest;
}
