$color-btn: #38b2ac;
$color-default: #1e2832;
.imgLogo {
    cursor: pointer;
    margin-right: 2.5rem;
    width: 12rem !important;
}

.divider{
    margin: 0 0.5rem !important;
}

.navbar{
    background-color: white !important;
}
