$color-btn: #38b2ac;
$color-default: #1e2832;
.imgLogo {
    cursor: pointer;
    margin-right: 2.5rem;
    width: 12rem !important;
}

.carItem {
    display: flex;
    color: white;
    padding:  0.8rem ;
    align-items: center;
    background-color: $color-btn ;
    border-radius: 0.5rem;
}

.navLogin{
    display: flex;
    padding:  0.2rem ;
    background-color: #f7f7f7;
    a {
        font-weight: bold;
        color: $color-btn !important;
    }
}

.divider{
    margin: 0 0.5rem !important;
}


.navbar{
    background-color: white !important;
}
