$color-btn: #38b2ac;
$color-default: #1e2832;

.navLogins{
    display: flex;
    padding:  0.2rem ;
    background-color: #f7f7f7;
    a {
        font-weight: bold;
        color: $color-btn !important;
    }
}

.margin{
    margin: 0.5rem 0 !important;
}