$color-tilte: #2a4365;

.footer {
    margin-top: 2.5rem;
    background-color: #fbfbfb;
    a {
        color: #2a4365 !important;
        padding: 1% 0;
    }
}

.footerTilte {
    color : #2a4365 !important;
    margin-top: 1.5rem !important;
}


.describre {
    padding: 1% 0;
}

.social {
    width: 2.5rem;
    color: #2a4365;
}