$color-tilte: #2a4365;

.footer {
    margin-top: 2.5rem;
    a {
        color: #969696 !important;
        padding: 1% 0;
    }
}

.footerTilte {
    color : #14a6e0 !important
}


.describre {
    color: #969696 !important;
    padding: 1% 0;
}